**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/logs
**/node_modules
**/.DS_Store
**/appsettings.Development.json
**/appsettings.Production.json
**/*.secrets.json
**/Properties/launchSettings.json
README.md
docs/
scripts/
*.md
!.github/workflows/*.yml
